.header {
  height: 70px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  position: absolute;

  .logo-container {
    border-radius: 25%;
    background: lightgrey;
    height: 80%;
    width: 60px;
    padding: 10px;
  }

  .logo-container:hover {
    transition: background-color 0.5s ease;
    background: lightsteelblue;
  }

  .options {
    right: 10%;
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
      cursor: pointer;
    }

    .option:hover {
      transition: color 0.5s ease;
      color: lightsteelblue;
    }
  }
}